#post-2{
    background-color: green;
    margin: 15px;
    padding: 15px;
}
.entry-title{
    color: yellowgreen;
    text-align: center;
}

h2{
    font-size: 12;
    color: white;
}

a{
    text-decoration: none;
}
#secondary{
    background-color: grey;
    margin: 15px;
    padding: 15px;
}